*{
  box-sizing: border-box;
}

body{
  margin : 0;
  font-family : Inter , sans-serif;
}

.App{
  background-color: var(--body_background);
  min-height: 100vh;
  color : var(--body_color);
}

nav{
  display: flex;
  align-items: center;
  background-color: var(--body_background);
  height: 90px;
  padding: 30px 25px;
}

.nav--logo_text, .nav--title{
  margin : 0;
}

.nav--logo_text{
  margin-right: auto;
  color : #6aDAFB;
  font-weight: 700;
  font-size: 22px;
}

.nav--title {
  color: var(--body_color);
  font-weight: 600;
}

.nav--icon{
  height: 30px;
  margin-right: 7px;
}

.nav--container {
  display: flex;
  align-items: center;
}

.nav--title {
  margin-right: 20px;
  margin-left: 20px;
}

.nav--dark-mode {
  margin-left: auto;
}

.nav--button {
  background-color: white;
  border: none;
  color: black;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.nav--button:hover {
  background-color: black;
  color: white;
}

