:root{
  --body_background: #ffffff;
  --body_color: #000000;
  --link_color: navy;
  
}

[data-theme="dark"]{
  --body_background: #282c34;
  --body_color: #ffffff;
  --link_color: cyan;
}


*{
  transition: all 0.5s ease_in_out;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
